html,
body {
  height: 100%;
}

body {
  font-family: 'Avenir Next', sans-serif;
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #ef9cc1;
}

a:hover {
  color: #e45a98;
  text-decoration: underline;
  text-decoration-thickness: 0.6em;
  text-decoration-color: #ef9cc1;
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: none;
}

.container {
  display: flex;
  overflow: auto;
  flex: none;
  width: 100%;
  height: 100vh;
  flex-flow: column nowrap;
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}

.page-container {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3em;
}

nav a {
  margin: 0 2em;
  font-size: 1.5em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-image-container {
  width: 60%;
  text-align: left;
}

.main-title {
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 0.2em;
  background-image: url('images/pink_brush_stroke.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.3em;
}

.hero-body {
  font-size: 1.7em;
  font-weight: 400;
  padding: 0 1.5em;
}

.hero-body > p {
  margin: 0.7em 3em;
}

/* .highlight {
  text-decoration: underline;
  text-decoration-thickness: 1.4em;
  text-decoration-color: rgba(211, 121, 121, 0.5);
  text-underline-offset: -1em;
  text-decoration-skip-ink: none;
  background-image: url('http://lorempixel.com/300/50');
  background-size: cover;
  background-repeat: no-repeat;
} */

.poster-container {
  position: relative;
}

.poster {
  max-height: 90vh;
  max-width: 90vw;
}

.up-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
}

.up-arrow .arrow-box-outer {
  width: 2em;
  height: 2em;
  background-color: #ef9cc1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.up-arrow .arrow-box-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.up-arrow .arrow {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5em 0.5em 0.5em;
  border-color: transparent transparent #4a4a4a;
}

.copyright {
  margin-top: 3em;
  color: #e45a98;
}

@media (max-width: 900px) {
  nav {
    margin-bottom: 2em;
  }

  nav > a {
    font-size: 1.3em;
    margin: 0 0.5em;
  }

  .main-title {
    line-height: 1em;
    padding: 0;
  }

  .hero-body {
    font-size: 1.1em;
    line-height: 1.1em;
  }

  .hero-body > p {
    margin: 0 0 0.5em 0;
  }
}
